$primary: #5265E1;
$secondary: #FA5959;
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/variables";

body {
    overflow-x: hidden; 
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
    }
}

.btn-danger {
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
        background-color: darken($secondary, 10%);
        border-color: darken($secondary, 10%);
    }
}

.card1 {
    max-width: 30rem;
}

.card2 {
   width: 16rem;
}

.image-section1 {
    position: relative;
    z-index: 1;
}

.blue-image-right {
    position: absolute;
    z-index: -1;
    left: 30%;
    max-width: 100%;
    height: 70%;
    top: 30%;
    background: #5266df;
    border-bottom-left-radius: 8rem;
}

.blue-image-left {
    position: absolute;
    z-index: -1;
    right: 30%;
    max-width: 100%;
    height: 85%;
    top: 25%;
    background: #5266df;
    border-bottom-right-radius: 8rem;
}

@media (max-width: 768px) {
    .nav-tabs {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}


.nav-link.active {
    border-bottom: 3px solid #dc3545 !important;
}

.foto{
    width: 100px;
    height: 100px;
}

.chrome {
    margin-top: 0px;
    margin-bottom: 60px;
}

.firefox {
    margin-top: 30px;
    margin-bottom: 30px;
}

.opera {
    margin-top: 60px;
    margin-bottom: 0px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none;
    outline: none;
    border: none;
}